!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title Narly
    = stylesheets.load("application.css")
    <link href='//fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
    :css
      body {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size:15px;
      }

    - if env == "production"
      :javascript
        window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
        window.analytics.load("uPxDgxRddb");
        window.analytics.page();

  %body
    #controls-bar.top-bar.lesson
    #lesson-pane
    #code-pane.main-pane
    #home-pane.main-pane

    - if env == "production"
      <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
      = javascripts.load("react/react.min.0.11.2.js")
    - else
      = javascripts.load("react/react.0.11.2.js")
      = javascripts.load("offline/jquery-1.11.1.min.js")
      = javascripts.load("offline/underscore-min.js")
    = javascripts.load("application.js")
    :javascript
      Narly.start({
          courseName: "#{ page.courseName }",
          index: 0,
          total: 12,
          lesson: "\u003ch2\u003eFEWD 21 Typing Speed Test\u003c/h2\u003e\n\n\u003cp\u003e\u003cstrong\u003eTopics covered in this walkthrough\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003eWe\u0026#39;ve gone through this assignment in class so in the first steps so we assume the basic funcionality is implemented. Beyond that:\u003c/p\u003e\n\n\u003cul\u003e\n\u003cli\u003eAdd sentences with increased difficulty.\u003c/li\u003e\n\u003cli\u003eAttach onclick handler to a group of buttons and determine which one sent the event.\u003c/li\u003e\n\u003cli\u003eUse \u003ca href=\"http://api.jquery.com/index/\"\u003ejQuery.index()\u003c/a\u003e.\u003c/li\u003e\n\u003cli\u003eValidate user input against original sentence prompt.\u003c/li\u003e\n\u003cli\u003eUse a form to enable submit by pressing [enter] key.\u003c/li\u003e\n\u003cli\u003eAdd realtime analysis of typing speed as user types.\u003c/li\u003e\n\u003cli\u003eAbstract common logic into resuable functions.\u003c/li\u003e\n\u003c/ul\u003e\n",
          website: "https://github.com/narlyio/typing-speedtest",
          download: "https://github.com/narlyio/typing-speedtest/archive/master.zip"
      });
