!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title Narly
    = stylesheets.load("application.css")
    <link href='//fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
    :css
      body {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size:15px;
      }

    - if env == "production"
      :javascript
        window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
        window.analytics.load("uPxDgxRddb");
        window.analytics.page();

  %body
    #controls-bar.top-bar.lesson
    #lesson-pane
    #code-pane.main-pane
    #home-pane.main-pane

    - if env == "production"
      <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
      = javascripts.load("react/react.min.0.11.2.js")
    - else
      = javascripts.load("react/react.0.11.2.js")
      = javascripts.load("offline/jquery-1.11.1.min.js")
      = javascripts.load("offline/underscore-min.js")
    = javascripts.load("application.js")
    :javascript
      Narly.start({
          courseName: "#{ page.courseName }",
          index: 0,
          total: 12,
          works : "<p>The tutorial shows step by step code changes. Removed code is red while added code is green. Navigate the steps by the orange back and forward arrows -- the keyboard arrows work as well.</p><p>Test and run the code yourself at any time by downloading the source, then clicking \"View File\" on the top right of the code to copy that file's contents at that given step.</p>",
          lesson: "This is the home page content ^_^"
      });
